
	<h1><%= @author.name %></h1>
	<% @todos.each do |todo| %>

 	   <div>
    	    Description: <%= todo.description %>
       </div>

	<% end %>

	<%= form_for :todo, url: "/authors/#{@author.id}/todos", method: "post" do |f| %>

    <%= f.text_field :description %>
    <%= f.submit "save todo" %>

	<% end %>